<div class="row">
  <div class="col-xs-12">
    <p>Add New Servers and Blueprints!</p>
    <label>Server Name</label>
    <!--<input type="text" class="form-control" [(ngModel)]="newServerName">-->
    <input type="text"
           class="form-control"
           #serverNameInput>
    <br />
    <br />
    <label>Server Content</label>
    <!-- <input type="text" class="form-control" [(ngModel)]="newServerContent"> -->
    <input
           type="text"
           class="form-control"
           #serverContentInput>
    <br />
    <br />
    <br />
    <button class="btn btn-primary"
            (click)="onAddServer(serverNameInput)">
      AddServer
    </button>

    <button class="btn btn-primary"
            (click)="onBlueprint(serverNameInput)">
      Blueprint
    </button>
  </div>
</div>
